@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.navbar.navbar {
  background-color: #f7f7f7;
  width: 100%;
}

#navbarNav {
  justify-content: space-around;
}

body {
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 100%);
}

.fab {
  cursor: pointer;
}
.nav-item {
  color: black;
  font-size: 18px;
  font-family: "Lexend";
  font-weight: bold;
  word-wrap: break-word;
  letter-spacing: 0.08rem;
  padding: 16px;
  text-align: center;
}

#logo {
  margin: 2%;
  height: 115px;
}

.home-pic-container img {
  width: 700px;
}

.home-pic-container {
  width: 700px;
  position: relative;
  top: 10px;
}

.main-text {
  width: 400px;
  height: 190px;
  position: relative;
  left: 40px;
  bottom: 110px;
  justify-content: center;
}
#hey {
  font-weight: bold;
  font-size: 50px;
}

.main-text h1 {
  color: black;
  font-size: 20px;
  font-family: "Roboto";
}

#para {
  color: black;
  font-size: 20px;
  font-family: "Roboto";
}

.footer {
  text-align: center;
  justify-content: center;
  position: relative;
  bottom: 0;
}

.footer p {
  font-family: "Roboto";
  font-size: 14px;
  color: #888;
}

@media (min-width: 992px) {
  .main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .home-pic-container {
    order: 2;
    margin-left: auto;
    top: 20px;
    width: 800px;
  }
  .home-pic-container img {
    width: 800px;
  }

  .main-text {
    order: 1;
    width: 400px;
    height: 190px;
    position: relative;

    left: 100px;
    bottom: 30rem;
  }

  .main-text p {
    font-size: 22px;
    font-family: "Roboto", "Helvetica Neue";

    text-align: justify;
  }

  .main-text h1 {
    color: black;
    font-size: 40px;
    font-family: "Roboto", "Helvetica Neue";
    font-weight: bold;
  }
}
