* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 100%);
}
.navbar.navbar {
  background-color: #f7f7f7;
  width: 100%;
}

#navbarNav {
  justify-content: space-around;
}

.nav-item {
  color: black;
  font-size: 18px;
  font-family: "Lexend";
  font-weight: bold;
  word-wrap: break-word;
  letter-spacing: 0.08rem;
  padding: 16px;
  text-align: center;
}

#logo {
  margin: 2%;
  height: 115px;
}

.title-page {
  font-weight: bold;
  margin-top: 5rem;
  text-align: center;
  font-size: 2.6rem;
  color: #474af0;
  font-family: helvetica;
}

.title {
  font-family: helvetica;
  color: #474af0;
  padding: 0px 0px 20px 30px;
}

.line-under-resume-title {
  width: 25%;
  margin: auto;
  margin-bottom: 4rem;
}

.contents {
  padding: 0px 30px;
  border-left: 1px solid #bababa;
}

.card h4 {
  font-size: 1rem;
  color: #474af0;
}
.card h3 {
  font-size: 1.4rem;
  padding-top: 10px;
  padding-bottom: 6px;
  font-family: helvetica;
}
.title h2 {
  text-align: center;
}
.card p {
  line-height: 1.2rem;
  color: #666;
  font-size: 17px;
}
.card {
  position: relative;
  padding: 20px;
  border: 1px solid #eaeaea;
  cursor: pointer;
  transition-duration: 400ms;

  margin-bottom: 20px;
}
.card:hover {
  box-shadow: 0px 3px 12px 0px #ccc;
  border: 1px solid #474af0; /* may change to transparent  */
}
.card::before {
  /* blue dots*/
  content: "";
  position: absolute;
  width: 17px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 22px);
  top: 0;
  background-color: #474af0;
  border: 2px solid #474af0;
}
