.navbar.navbar {
  background-color: #f7f7f7;
  width: 100%;
}

#navbarNav {
  justify-content: space-around;
}

body {
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 100%);
}

.nav-item {
  color: black;
  font-size: 18px;
  font-family: "Lexend";
  font-weight: bold;
  word-wrap: break-word;
  letter-spacing: 0.08rem;
  padding: 16px;
  text-align: center;
}

#logo {
  margin: 2%;
  height: 115px;
}
